<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loopico.template">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CustomArrayAdapterListActivity" />
        <activity android:name=".activity.JsonDownloadActivity" />
        <activity android:name=".activity.DownloadImageFromUrlActivity" />
        <activity android:name=".activity.RetainFragmentActivity" />
        <activity
            android:name=".activity.CursorLoaderListFragmentActivity"
            android:label="@string/title_activity_cursor_loader_list_fragment"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
